*, *:after, *:before {
    box-sizing: border-box;
}
a {
    color: #2db7f5;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: all .3s ease;
}
.date-picker {
    display: inline-block;
    position: relative;
}
.date-picker-input-wrap {
    display: inline-block;
    width: 140px;
}
.date-picker-input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    outline: none;
    -webkit-transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1), background .2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border .2s cubic-bezier(0.645, 0.045, 0.355, 1), background .2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.date-picker-input:hover {
    border-color: #57c5f7;
}
.calendar {
    position: absolute;
    display: inline-block;
    left: 0;
    outline: none;
    width: 231px;
    border: 1px solid #d9d9d9;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.17);
    background-clip: padding-box;
    line-height: 1.5;
    box-sizing: border-box;
    color: #666;
}
.cal-input-wrap {
    position: relative;
    height: 34px;
    padding: 6px;
    border-bottom: 1px solid #e9e9e9;
}

.cal-input-wrap > .cal-input {
    border: 0;
    width: 100%;
    cursor: auto;
    outline: 0;
    height: 22px;
}
.cal-input-wrap > .del {
    position: absolute;
    right: 5px;
    overflow: hidden;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 13px;
    top: 10px;
    margin: 0;
    cursor: pointer;
    color: #eee;
    background: #adabab;
}
.cal-input-wrap > .del:hover {
    background: #908e8e;
}

.cal-header {
    position: relative;
    height: 34px;
    line-height: 34px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #e9e9e9;
}

.prev-year, .prev-month, .next-year, .next-month {
    position: absolute;
    top: 0;
    color: #999;
    font-family: Arial,"Hiragino Sans GB","Microsoft Yahei","Microsoft Sans Serif",sans-serif;
    padding: 0 5px;
    font-size: 16px;
    display: inline-block;
    line-height: 34px;
    cursor: pointer;
}

.cal-header .prev-year{
    left: 7px;
}

.cal-header .prev-month {
    left: 29px;
}

.cal-header .next-year {
    right: 29px;
}

.cal-header .next-month {
    right: 7px;
}

.cal-header a:hover {
    color: #2db7f5;
}

.cal-body {
    padding: 4px 8px;
}

.cal-body table, .cal-body th, .cal-body td {
    
}
.cal-body table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
}

.cal-body table th.cal-table-head-th {
    line-height: 18px;
    width: 33px;
    padding: 6px 0;
    text-align: center;
    font-weight: normal;
    color: #666;
}

.cal-table-body-cell {
    padding: 4px 0;
    cursor: pointer;
}
.cal-table-body-cell:hover span{
    background: #eaf8fe;
}


.cal-table-body-cell span{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border: 1px solid transparent;
    padding: 0;
    background: transparent;
    text-align: center;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.cal-table-body-cell.next span , .cal-table-body-cell.prev span {
    color: #ccc;
}

.cal-table-body-cell.selected span {
    background: #2db7f5;
    color: #fff;
    border: 1px solid transparent;
}